# ---> Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# ---> Java
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE project files
/.idea/
*.iml


/doc/
/cdoc20-server/src/main/resources/keystore/cdoc20server.p12
/cdoc20-server/src/main/resources/keystore/servertruststore.jks
/cdoc20-client/src/test/resources/test.properties

/cdoc20-server/src/test/resources/test.properties
